.equipment {
	margin-top: 60px;
}
.equipment__innder {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.left {
	width: 35%;
}
.right {
	display: flex;
	flex-direction: column;
	width: 65%;
	padding: 30px 30px 30px 60px;
	border-radius: 25px;
	background-color: #F4F8FF;
}
.right__top {
	flex-grow: 1;
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
}
.slider {
	
}
.slider__inner {
	position: relative;
	width: 100%;
}
.slider__arrow {
	position: absolute;
	z-index: 3;
	top: calc(50% - 25px);
}
.slider__arrow svg {
	width: 100%;
}
.slider__arrow-left,
.slider__arrow-right {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.1);
	opacity: 0.3;
	cursor: pointer;
}
.slider__inner:hover .slider__arrow-left,
.slider__inner:hover .slider__arrow-right {
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 0.7;
}
.slider__arrow-left {
	left: 5px;
	transform-origin: center;
	transform: rotate(180deg);
}
.slider__arrow-right {
	right: 5px;
}
.slider__items {
	width: 100%;
}
.slider__item {
	overflow: hidden;
	max-width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 25px;
}
.slider__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.title {
	font-size: 32px;
	line-height: 1.5;
	font-weight: bold;
	word-wrap: break-word;
}
.description {
	margin-top: 15px;
	font-size: 18px;
	line-height: 1.5;
	word-wrap: break-word;
}

.price {
	margin-top: 15px;
	font-size: 18px;
	color: var(--color-soft-pink);
	word-wrap: break-word;
}
.form {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-end;
	margin-top: 30px;
}
.form__footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
.form__footer input {
	display: block;
	width: 50px;
	height: 50px;
	padding: 0px 5px;
	text-align: center;
	font-size: 18px;
}
.form__footer input::-webkit-outer-spin-button,
.form__footer input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.form__footer button {
	display: block;
	max-width: calc(100% - 50px - 10px);
	height: 50px;
	margin-left: 10px;
	padding: 0px 15px;
	border: transparent;
	border-radius: 5px;
	font-size: 22px;
	font-family: "Sora-Bold";
	word-wrap: break-word;
	background-color: var(--color-soft-pink);
}
.form label {
	display: block;
	margin-top: 50px;
	width: 100%;
	font-size: 18px;
	line-height: 1.5;
}
.form textarea {
	display: block;
	width: 100%;
	min-height: 300px;
	margin-top: 25px;
	padding: 15px;
	border-radius: 10px;
	border: transparent;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.1);
}
.form__total {
	margin-top: 15px;
	text-align: right;
	font-size: 22px;
	line-height: 1.5;
	font-weight: bold;
	word-wrap: break-word;
	color: var(--color-success);
}
.fail {
	width: 100%;
	margin-top: 15px;
	font-size: 22px;
	line-height: 1.5;
	word-wrap: break-word;
	color: var(--color-danger);
}