@font-face {
    font-family: 'Sora-Light';
    src: url(../fonts/Sora/Sora-Light.ttf);
}
@font-face {
    font-family: 'Sora-Regular';
    src: url(../fonts/Sora/Sora-Regular.ttf);
}
@font-face {
    font-family: 'Sora-Bold';
    src: url(../fonts/Sora/Sora-Bold.ttf);
}